<phpunit bootstrap="./test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ZendService Amazon Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
